PRODUCT_BUNDLE_IDENTIFIER = app.rundum.ios
IPHONEOS_DEPLOYMENT_TARGET = 16.0
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
APP_GROUP_ID = group.app.rundum
PRO_PRODUCT_ID = app.rundum.pro.monthly
SUPABASE_URL =
SUPABASE_ANON_KEY =
DEVELOPMENT_TEAM =
#include? "Local.xcconfig"
